@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300&display=swap');
/*
	font-family: 'Roboto Condensed', sans-serif;
*/

* {
	margin:0;
	padding:0;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
}
a {
	text-decoration: none;
}

/* .app-main{
	
} */
body {
	width: 100%;
	background: #f9f9f9;
}

